.template {
    &__results {
        --padding: 1rem;
        display: flex;
        align-items: center;
        > div {
            display: grid;
            gap: 1rem;
            padding: var(--padding);
            &:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
    }
    &__form {
        display: flex;
        align-items: center;
    }
    &__section {
        display: grid;
        gap: 1rem;
    }
    &__wrap {
        display: grid;
        gap: 1rem;
    }
}